LISTDIR_URL = "https://your-sftpgo/web/client/dirs"
UPLOAD_URL = "https://your-sftpgo/web/client/file"
DASH_URL = "https://your-sftpgo/web/client/login"
BASE_URL = "https://your-sftpgo/web/client/files"
ORIGIN = "https://your-sftpgo"
SOURCE_PATH = "C:\Path\To\Your\Local\Files"
REMOTE_ROOT_NAME = "/Remote/Root/Directory/Subdirectory"
CERTIFICATE = "path/to/your/certificate.pem"
USER = "your_username"
PASSWORD = "your_password"